.App {
    text-align: center;
  }
  
  .App-logo {
    height: 40vmin;
    pointer-events: none;
  }
  
  @media (prefers-reduced-motion: no-preference) {
    .App-logo {
      animation: App-logo-spin infinite 20s linear;
    }
  }
  
  .App-header {
    background-image: url('../img/bg.jpg');
      background-size:     cover;                      /* <------ */
      background-repeat:   no-repeat;
      background-position: center center;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100vh;
  }
  
  .App-link {
    color: #61dafb;
  }
  
  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  
  .center-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh; /* This will center the content vertically */
    text-align: center;
    color: white;
  }
  
  .text-container {
    margin-bottom: 20px;
  }
  
  textarea {
    width: 800px;
    height: 300px;
    color: black;
  }
  
  h3 {
    color: white;
  }

  textarea:focus {
    background-color: aliceblue;
    color: black;
}